name: Test security of python code
on:
  pull_request:
    branches:
      - main
jobs:
  bandit:
    name: Run bandit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --no-interaction --no-ansi
      - name: Run bandit
        run: poetry run bandit . -r --exclude "./tests"